<?xml version="1.0"?>
<!-- http://wiki.ros.org/imu_filter_madgwick -->
<launch>
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick">
    <!-- <param name="fixed_frame" value="odom" /> -->
    <!-- ~fixed_frame ~publish_tf ~publish_debug_topics ~remove_gravity_vector -->
  </node>
</launch>
